<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Pricing</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Pricing</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Pricing -->
<div class="pricing-area pt-100 pb-75 dotted-bg bg-f4f4f4">
    <div class="container">
        <div class="section-title">
            <h2>Working together to create the next big thing</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="pricing-tabs">
            <tabset>
                <tab heading="Monthly" id="tab1">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $15 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $29 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $79 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Yearly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $115 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $129 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $179 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>