<!-- Default Team Section -->
<div class="team-area dotted-bg pb-75">
    <div class="container">
        <div class="section-title">
            <span class="sub-title main-color">OUR TEAM</span>
            <h2>Meet Our Expert Team Dedicated to Your Success</h2>
            <p>
                Meet our dedicated team of experts who are committed to
                delivering exceptional results for you.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card text-center">
                    <div class="member-image">
                        <img
                            src="assets/images/team/team12.jpg"
                            alt="Emily Johnson"
                        />
                    </div>
                    <div class="team-caption">
                        <h4>Emily Johnson</h4>
                        <span>CEO & Co-Founder</span>
                        <ul class="social-links">
                            <li>
                                <a
                                    href="https://www.linkedin.com/"
                                    target="_blank"
                                    ><i class="bx bxl-linkedin"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/"
                                    target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/"
                                    target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card text-center">
                    <div class="member-image">
                        <img
                            src="assets/images/team/team13.jpg"
                            alt="Michael Brown"
                        />
                    </div>
                    <div class="team-caption">
                        <h4>Michael Brown</h4>
                        <span>Chief Technology Officer</span>
                        <ul class="social-links">
                            <li>
                                <a
                                    href="https://www.linkedin.com/"
                                    target="_blank"
                                    ><i class="bx bxl-linkedin"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/"
                                    target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/"
                                    target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card text-center">
                    <div class="member-image">
                        <img
                            src="assets/images/team/team14.jpg"
                            alt="Samantha Green"
                        />
                    </div>
                    <div class="team-caption">
                        <h4>Alex Green</h4>
                        <span>Lead Full-stack Developer</span>
                        <ul class="social-links">
                            <li>
                                <a
                                    href="https://www.linkedin.com/"
                                    target="_blank"
                                    ><i class="bx bxl-linkedin"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/"
                                    target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/"
                                    target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card text-center">
                    <div class="member-image">
                        <img
                            src="assets/images/team/team15.jpg"
                            alt="Christopher Lee"
                        />
                    </div>
                    <div class="team-caption">
                        <h4>Christopher Lee</h4>
                        <span>Senior UX/UI Designer</span>
                        <ul class="social-links">
                            <li>
                                <a
                                    href="https://www.linkedin.com/"
                                    target="_blank"
                                    ><i class="bx bxl-linkedin"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/"
                                    target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/"
                                    target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
