.single-team-member {
    text-align: center;

    .image {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        transform: rotate(45deg) translateZ(0px);
        margin: {
            top: 25px;
            left: auto;
            right: auto;
            bottom: 25px;
        }
        div {
            top: 50%;
            left: 50%;
            width: 170px;
            height: 170px;
            position: absolute;
            transform: rotate(-45deg) translate(0%, -70%);
            background: {
                position: center center;
                repeat: no-repeat;
                size: cover;
            }
        }
    }
    .content {
        margin-top: 45px;

        h4 {
            margin-bottom: 7px;
            font: {
                size: 22px;
                weight: 600;
            }
        }
        span {
            display: block;
            color: var(--paragraphColor);
        }
    }
}
.team-card {
    .team-caption {
        margin-top: 20px;

        h4 {
            font-size: 22px;
            margin-bottom: 6px;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: {
                top: 15px;
                bottom: 0;
            }
            li {
                display: inline-block;
                margin: {
                    left: 4px;
                    right: 4px;
                }
                a {
                    width: 35px;
                    height: 35px;
                    font-size: 17px;
                    border-radius: 50%;
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    color: var(--blackColor);
                    background-color: #f1f1f1;
                    transition: var(--transition);

                    i {
                        left: 0;
                        right: 0;
                        top: 50%;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        background-color: var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
    &.d-flex {
        display: flex !important;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .single-team-member {
        .image {
            width: 90px;
            height: 90px;
            margin: {
                top: 15px;
                bottom: 25px;
            }
            div {
                width: 140px;
                height: 140px;
            }
        }
        .content {
            margin-top: 35px;

            h4 {
                margin-bottom: 7px;
                font-size: 17px;
            }
        }
    }
    .team-card {
        .team-caption {
            margin-top: 20px;

            h4 {
                font-size: 17px;
                margin-bottom: 5px;
            }
            ul {
                margin-top: 12px;

                li {
                    margin: {
                        left: 1px;
                        right: 1px;
                    }
                    a {
                        width: 32px;
                        height: 32px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-team-member {
        .content {
            margin-top: 40px;

            h4 {
                font-size: 19px;
            }
        }
    }
    .team-card {
        .team-caption {
            h4 {
                font-size: 19px;
                margin-bottom: 6px;
            }
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-team-member {
        .content {
            margin-top: 40px;

            h4 {
                font-size: 21px;
            }
        }
    }
    .team-card {
        .team-caption {
            h4 {
                font-size: 21px;
            }
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {
}
