<div
    class="features-area pb-75 dotted-bg bg-fbecd7 d-none"
    [ngClass]="{ 'd-block': router.url === '/index-2' }"
>
    <div class="container">
        <div class="section-title" style="margin-bottom: 30px; padding: 90px">
            <span class="sub-title">TOP FEATURES</span>
            <h2>Best agencies choose their clients wisely</h2>
            <p>
                Discover what sets us apart from the rest. At our agency, we are
                dedicated to crafting extraordinary experiences. Our team of
                experts combines creativity with cutting-edge technology to
                deliver solutions that exceed expectations. Whether it's
                designing intuitive user interfaces or harnessing the power of
                data analytics, we empower businesses to thrive in a digital
                world.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-item mb-25">
                    <div class="icon">
                        <i class="flaticon-box"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details">Product Engineering</a>
                    </h4>
                    <p>
                        Our product engineering services blend innovation with
                        precision. We transform ideas into scalable solutions
                        that drive growth and efficiency for your business.
                    </p>
                    <a routerLink="/service-details" class="link-btn">
                        View More <i class="flaticon-right-up"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-item mb-25">
                    <div class="icon">
                        <i class="flaticon-ux-design"></i>
                    </div>
                    <h4><a routerLink="/service-details">UX/UI Design</a></h4>
                    <p>
                        Our UX/UI design solutions prioritize user experience
                        and aesthetic appeal. We create interfaces that are
                        intuitive, engaging, and aligned with your brand's
                        vision.
                    </p>
                    <a routerLink="/service-details" class="link-btn">
                        View More <i class="flaticon-right-up"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-item mb-25">
                    <div class="icon">
                        <i class="flaticon-data-analysis"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details"
                            >Big Data & Analytics</a
                        >
                    </h4>
                    <p>
                        Harnessing the power of big data, we uncover valuable
                        insights that drive informed decision-making and
                        strategic growth initiatives for your business.
                    </p>
                    <a routerLink="/service-details" class="link-btn">
                        View More <i class="flaticon-right-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
