<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>About Us</h1>
            <ul class="meta">
                <li><a routerLink="/index-2">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="shape1">
        <img src="assets/images/shape/shape1.png" alt="shape1" />
    </div>
    <div class="shape2">
        <img src="assets/images/shape/shape2.png" alt="shape2" />
    </div>
</div>

<app-about></app-about>

<app-quotes></app-quotes>

<div class="pt-100 dotted-bg"></div>

<app-funfacts></app-funfacts>

<app-why-choose-us></app-why-choose-us>

<app-feedback></app-feedback>

<div class="pt-100 dotted-bg"></div>

<app-team></app-team>

<app-pricing></app-pricing>
