<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Frequently Asked Questions</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- FAQ -->
<div class="faq-area ptb-100 dotted-bg">
    <div class="container">
        <div class="faq-accordion">
            <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                <accordion-group heading="What is the company culture?" [isOpen]="isFirstOpen">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="Which market is the startup targeting?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="What is the runway of the business?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="Who are the investors in the company?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="How do you ask about your business?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="What does a digital marketing agency do?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="What is Search Engine Optimization?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="How do SEOs choose keywords?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="Do I need to pay for Loxi?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
                <accordion-group heading="What makes for a good web design?">
                    <p>But I must explain to you how all this <strong>mistaken</strong> idea of denouncing pleasure and praising pain was born and I will give you a <a routerLink="/">complete</a> account of the system, and expound</p>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>