<div
    class="funfacts-area pt-100 pb-75 bg-black"
    [ngClass]="{ 'd-none': router.url === '/index-3' }"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>130+</h2>
                    <span>Completed Projects</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>60+</h2>
                    <span>Happy Clients</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>50+</h2>
                    <span>Positive Reviews</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>12+</h2>
                    <span>Awards Won</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
