<div
    class="banner-area dotted-bg bg-f7ffe2"
    style="padding-top: 200px; padding-bottom: 100px"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">TRANSFORM YOUR VISION</span>
                    <h1>Where imagination meets innovation</h1>
                    <p>
                        Embark on a transformative journey where creativity
                        shapes reality. At our agency, we blend imagination with
                        innovation to craft compelling stories and impactful
                        experiences. Whether you're launching a new brand or
                        reimagining an existing one, our team is dedicated to
                        realizing your vision with passion and precision. Join
                        us in creating moments that resonate, inspire, and leave
                        a lasting impression.
                    </p>

                    <a routerLink="/about" class="default-btn">
                        Explore More <i class="flaticon-right-up"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image text-center">
                    <img
                        src="assets/images/banner/banner3.png"
                        alt="banner-image"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
