<div
    class="quotes-area bg-color d-none"
    [ngClass]="{ 'd-block': router.url === '/index-2' }"
>
    <div class="container">
        <div class="quotes-inner-box">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="quotes-image">
                        <img
                            src="assets/images/your-image.jpg"
                            alt="quotes-image"
                        />
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="quotes-content">
                        <i class="flaticon-quotes"></i>
                        <p>"Creativity is intelligence having fun."</p>
                        <h6>
                            Yana Kolomytseva
                            <span>, Creator of this Website</span>
                            <span class="extra-space"></span>
                        </h6>
                    </div>
                    <span class="extra-space"></span>
                </div>
            </div>
        </div>
    </div>
</div>
