.lets-talk-area {
    position: relative;
    z-index: 1;

    &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        z-index: -1;
        content: '';
        position: absolute;
        background-color: var(--whiteColor);
    }
    &::after {
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        z-index: -1;
        content: '';
        position: absolute;
        background: {
            image: url(../../../../assets/images/bg.png);
            position: center center;
            repeat: no-repeat;
            size: cover;
        };
    }
}
.lets-talk-inner-box {
    padding: 90px 50px;
    border-radius: 7px;
    text-align: center;
    position: relative;
    z-index: 1;

    h2 {
        font-size: 44px;
        max-width: 650px;
        line-height: 1.3;
        color: var(--whiteColor);
        margin: {
            left: auto;
            right: auto;
            bottom: 35px;
        };
    }
    .default-btn {
        border-color: var(--primaryColor);
        background-color: var(--primaryColor);
        padding: {
            left: 50px;
            right: 50px;
        };
        &:hover {
            color: var(--primaryColor);
            border-color: var(--whiteColor);
            background-color: var(--whiteColor);
        }
    }
    .shape6 {
        top: 50%;
        left: 60px;
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
    .shape7 {
        top: 50%;
        right: 60px;
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);

        img {
            animation: moveleftbounce 2s linear infinite;
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
    &.d-flex {
        display: flex !important;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .lets-talk-inner-box {
        padding: 60px 20px;
        border-radius: 5px;
    
        h2 {
            font-size: 22px;
            max-width: 100%;
            margin-bottom: 20px;
        }
        .default-btn {
            padding: {
                left: 35px;
                right: 35px;
            };
        }
        .shape6, .shape7 {
            display: none;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .lets-talk-inner-box {
        padding: 80px 40px;
    
        h2 {
            font-size: 28px;
            max-width: 500px;
            margin-bottom: 25px;
        }
        .default-btn {
            padding: {
                left: 40px;
                right: 40px;
            };
        }
        .shape6, .shape7 {
            max-width: 50px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .lets-talk-inner-box {
        h2 {
            font-size: 35px;
            max-width: 535px;
            margin-bottom: 30px;
        }
        .shape6 {
            width: 90px;
        }
        .shape7 {
            width: 90px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .lets-talk-inner-box {
        .shape6 {
            width: 150px;
        }
        .shape7 {
            width: 150px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}