<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Client's Feedback</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Client's Feedback</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Feedback -->
<div class="feedback-area dotted-bg pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO at Envato</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>James Andy</h4>
                        <span>CTO at EnvyTheme</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Alina Smith</h4>
                        <span>CTO at ThemeForest</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO at Envato</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>James Andy</h4>
                        <span>CTO at EnvyTheme</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Alina Smith</h4>
                        <span>CTO at ThemeForest</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO at Envato</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>James Andy</h4>
                        <span>CTO at EnvyTheme</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Alina Smith</h4>
                        <span>CTO at ThemeForest</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>