<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Meet Our Team</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Meet Our Team</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Team -->
<div class="team-area dotted-bg pb-75 pt-100">
    <div class="container">
        <div class="section-title">
            <h2>Meet our leadership preparing for your success</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center mb-25">
                    <img src="assets/images/team/team12.jpg" alt="member-image">
                    <div class="team-caption">
                        <h4>James White</h4>
                        <span>CEO & Founder</span>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class='bx bxl-dribbble'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center mb-25">
                    <img src="assets/images/team/team13.jpg" alt="member-image">
                    <div class="team-caption">
                        <h4>Johnson Lee</h4>
                        <span>Backend Specialist</span>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class='bx bxl-dribbble'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center mb-25">
                    <img src="assets/images/team/team14.jpg" alt="member-image">
                    <div class="team-caption">
                        <h4>Williams Smith</h4>
                        <span>Front-End Specialist</span>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class='bx bxl-dribbble'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center mb-25">
                    <img src="assets/images/team/team15.jpg" alt="member-image">
                    <div class="team-caption">
                        <h4>David Miller</h4>
                        <span>React.js Specialist</span>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class='bx bxl-dribbble'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<div class="team-area dotted-bg pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Meet our leadership preparing for your success</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team1.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Sarah Taylor</h4>
                        <span>Marketing Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team2.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Ben Stokes</h4>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team3.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Ellyse Perry</h4>
                        <span>Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team4.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Steven Smith</h4>
                        <span>Development</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team5.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Suzie Bates</h4>
                        <span>Front-End Development</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team6.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>David Warner</h4>
                        <span>Head of Team</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team7.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Ross Taylor</h4>
                        <span>Front-End Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team8.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Meg Lanning</h4>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team9.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>James Andy</h4>
                        <span>Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team10.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Ellyse Perry</h4>
                        <span>Development</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                <div class="single-team-member mb-25">
                    <div class="image">
                        <div style="background-image: url(assets/images/team/team11.jpg);"></div>
                    </div>
                    <div class="content">
                        <h4>Daniel John</h4>
                        <span>Front-End Development</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>