.single-blog-post {
    .image {
        margin-bottom: 25px;
        border-radius: 7px;
        overflow: hidden;

        img {
            border-radius: 7px;
            transition: var(--transition);
        }
    }
    .content {
        padding-left: 88px;
        position: relative;

        .date {
            background-color: var(--blackColor);
            border-radius: 0 30px 0 0;
            color: var(--whiteColor);
            position: absolute;
            padding: 8px 17px;
            left: 0;
            top: 0;
            font-size: 22px;
            font-weight: 700;

            span {
                display: block;
                margin-top: -4px;
                font-size: 18px;
                font-weight: normal;
            }
        }
        h4 {
            font-size: 22px;
            margin-bottom: 12px;
        }
        p {
            color: var(--blackColor);
        }
        .link-btn {
            display: inline-block;
            padding-right: 22px;
            position: relative;
            margin-top: 15px;
            font-weight: 500;
            font-size: 16px;

            i {
                top: 50%;
                right: -5px;
                line-height: 1;
                transition: 0.3s;
                font-size: 25px;
                margin-top: 2.6px;
                position: absolute;
                color: var(--blackColor);
                transform: translateY(-50%);
            }
            &:hover {
                i {
                    transform: translateY(-50%) rotate(45deg);
                    color: var(--primaryColor);
                }
            }
        }
    }
    &:hover {
        .image {
            img {
                transform: scale(1.08);
            }
        }
    }
}

.single-blog-item {
    .image {
        margin-bottom: 25px;
        position: relative;
        border-radius: 7px;
        overflow: hidden;

        img {
            border-radius: 7px;
            transition: var(--transition);
        }
        .date {
            background-color: var(--blackColor);
            border-radius: 0 30px 0 0;
            color: var(--whiteColor);
            position: absolute;
            padding: 8px 17px;
            left: 15px;
            top: 15px;
            font-size: 22px;
            font-weight: 700;

            span {
                display: block;
                margin-top: -4px;
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
    .content {
        h4 {
            font-size: 22px;
            margin-bottom: 15px;
        }
        p {
            color: var(--blackColor);
        }
        .link-btn {
            display: inline-block;
            padding-right: 22px;
            position: relative;
            margin-top: 10px;
            font-weight: 500;
            font-size: 16px;

            i {
                top: 50%;
                right: -5px;
                line-height: 1;
                transition: 0.3s;
                font-size: 25px;
                margin-top: 2.6px;
                position: absolute;
                color: var(--blackColor);
                transform: translateY(-50%);
            }
            &:hover {
                i {
                    transform: translateY(-50%) rotate(45deg);
                    color: var(--primaryColor);
                }
            }
        }
    }
    &:hover {
        .image {
            img {
                transform: scale(1.08);
            }
        }
    }
}

.d-none {
    &.d-block {
        display: block !important;
    }
    &.d-flex {
        display: flex !important;
    }
}

/* Responsive Media Queries */

@media only screen and (max-width: 767px) {
    .single-blog-post .image {
        margin-bottom: 20px;
        border-radius: 5px;

        img {
            border-radius: 5px;
        }
    }
    .single-blog-post .content {
        padding-left: 62px;

        .date {
            border-radius: 0 15px 0 0;
            padding: 5px 10px;
            font-size: 16px;

            span {
                margin-top: -2px;
                font-size: 14px;
            }
        }
        h4 {
            font-size: 17px;
            margin-bottom: 12px;
        }
        .link-btn {
            padding-right: 18px;
            font-size: 13px;
            margin-top: 0;

            i {
                font-size: 20px;
                margin-top: 1.5px;
            }
        }
    }

    .single-blog-item .image {
        margin-bottom: 20px;
        border-radius: 5px;

        img {
            border-radius: 5px;
        }
        .date {
            border-radius: 0 15px 0 0;
            padding: 5px 10px;
            font-size: 16px;

            span {
                margin-top: -2px;
                font-size: 14px;
            }
        }
    }

    .single-blog-item .content {
        h4 {
            font-size: 17px;
            margin-bottom: 12px;
        }
        .link-btn {
            padding-right: 18px;
            font-size: 13px;
            margin-top: 0;

            i {
                font-size: 20px;
                margin-top: 1.5px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post .image {
        margin-bottom: 22px;
    }
    .single-blog-post .content {
        padding-left: 75px;

        .date {
            padding: 8px 15px;
            font-size: 19px;

            span {
                margin-top: -2px;
                font-size: 16px;
            }
        }
        h4 {
            font-size: 19px;
            margin-bottom: 10px;
        }
        .link-btn {
            padding-right: 20px;
            font-size: 14px;
            margin-top: 0;

            i {
                font-size: 20px;
                margin-top: 2px;
            }
        }
    }

    .single-blog-item .image {
        margin-bottom: 20px;

        .date {
            padding: 8px 15px;
            font-size: 19px;

            span {
                margin-top: -2px;
                font-size: 16px;
            }
        }
    }

    .single-blog-item .content {
        h4 {
            font-size: 19px;
            margin-bottom: 10px;
        }
        .link-btn {
            padding-right: 20px;
            font-size: 14px;
            margin-top: 0;

            i {
                font-size: 20px;
                margin-top: 2px;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post .content {
        padding-left: 70px;

        .date {
            padding: 7px 14px;
            font-size: 18px;

            span {
                margin-top: -2px;
                font-size: 16px;
            }
        }
        h4 {
            font-size: 21px;
        }
        .link-btn {
            font-size: 15px;
            margin-top: 5px;
        }
    }

    .single-blog-item .image {
        margin-bottom: 20px;
    }

    .single-blog-item .content {
        h4 {
            font-size: 21px;
        }
        .link-btn {
            font-size: 15px;
            margin-top: 5px;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {
}
