<div
    class="new-feedback-area dotted-bg pb-100 bg-fbecd7"
    [ngClass]="{ 'd-block': router.url === '/index-2' }"
>
    <div class="container">
        <owl-carousel-o
            [options]="newFeedbackSlides"
            class="new-feedback-carousel"
        >
            <ng-template carouselSlide>
                <div class="new-single-feedback-box">
                    <i class="flaticon-quotes"></i>
                    <p>
                        "Working with this team has been a game-changer for our
                        business. Their innovative approach and dedication to
                        excellence have significantly boosted our performance
                        and market presence."
                    </p>
                    <div class="client-info">
                        <h4>Maria Smith</h4>
                        <span>Sales Manager at Mithrics</span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="new-single-feedback-box">
                    <i class="flaticon-quotes"></i>
                    <p>
                        "The creativity and strategic insight provided by this
                        company have been invaluable. They not only understand
                        our vision but also bring it to life with remarkable
                        execution."
                    </p>
                    <div class="client-info">
                        <h4>Noah Backer</h4>
                        <span>Designer at IOTeach</span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="new-single-feedback-box">
                    <i class="flaticon-quotes"></i>
                    <p>
                        "Our collaboration has resulted in outstanding outcomes.
                        Their ability to deliver high-quality solutions promptly
                        has made a significant impact on our growth and
                        success."
                    </p>
                    <div class="client-info">
                        <h4>Sarah Williams</h4>
                        <span>Marketing Director at Lyon GmbJ</span>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
