<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Services</h1>
            <ul class="meta">
                <li><a routerLink="/index-2">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
    <div class="shape1">
        <img src="assets/images/shape/shape1.png" alt="shape1" />
    </div>
    <div class="shape2">
        <img src="assets/images/shape/shape2.png" alt="shape2" />
    </div>
</div>
<!-- Services -->
<div class="services-area pt-100 pb-75 dotted-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-presentation"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details">Business Strategy</a>
                    </h4>
                    <p>
                        Crafting innovative strategies to drive your business
                        forward. Our experts analyze market trends to help you
                        stay ahead of the competition.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-web-programming"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details">Web Development</a>
                    </h4>
                    <p>
                        Building responsive and user-friendly websites tailored
                        to your needs. Our development team ensures seamless
                        performance across all devices.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-content-management"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details">Digital Marketing</a>
                    </h4>
                    <p>
                        Elevate your online presence with our comprehensive
                        digital marketing strategies. From SEO to social media,
                        we cover all aspects to boost your brand.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-curve"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details">Graphics Design</a>
                    </h4>
                    <p>
                        Creating visually stunning designs that capture your
                        brand's essence. Our designers bring your ideas to life
                        with creative and impactful visuals.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-data"></i>
                    </div>
                    <h4><a routerLink="/service-details">Data Analysis</a></h4>
                    <p>
                        Transforming data into actionable insights. Our analysts
                        use advanced tools to help you make informed decisions
                        and drive business growth.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-coding"></i>
                    </div>
                    <h4>
                        <a routerLink="/service-details">App Development</a>
                    </h4>
                    <p>
                        Developing intuitive and high-performance mobile
                        applications. Our team creates apps that provide an
                        exceptional user experience and functionality.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-taget"></i>
                    </div>
                    <h4><a routerLink="/service-details">UI & UX Design</a></h4>
                    <p>
                        Designing user interfaces that are both beautiful and
                        functional. We focus on creating seamless user
                        experiences that enhance customer satisfaction.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-diagram-1"></i>
                    </div>
                    <h4><a routerLink="/service-details">Web Branding</a></h4>
                    <p>
                        Establishing a strong online brand identity. Our
                        branding experts help you create a consistent and
                        compelling brand message across all digital platforms.
                    </p>
                    <a routerLink="/service-details" class="link-btn"
                        >Learn More <i class="flaticon-right-up"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-funfacts></app-funfacts>
