<!-- Default Footer -->
<div
    class="footer-area pt-100 pb-75 bg-black"
    [ngClass]="{
        'd-none': router.url === '/index-3' || router.url === '/index-4'
    }"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <a routerLink="/index-2" class="logo d-inline-block">
                        <img src="assets/images/white-logo.png" alt="logo" />
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Sed amet eget
                        gravida nec tortor.
                    </p>
                    <ul class="social-links list-unstyled mb-0">
                        <li>
                            <a href="#" target="_blank"
                                ><i class="flaticon-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="flaticon-twitter-1"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="flaticon-instagram-1"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="flaticon-linkedin-1"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25 ps-xl-5">
                    <h4>Quick Links</h4>
                    <ul class="custom-links">
                        <li><a routerLink="/index-2">Home</a></li>
                        <li><a routerLink="/index-2">Projects</a></li>
                        <li><a routerLink="/index-2">Blog</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <h4>Important Links</h4>
                    <ul class="custom-links">
                        <li><a routerLink="/index-2">Privacy </a></li>
                        <li><a routerLink="//index-2">Pricing</a></li>
                        <li><a routerLink="/index-2">Terms & Conditions</a></li>
                        <li><a routerLink="/services">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <h4>Get In Touch</h4>
                    <ul class="footer-contact-info">
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:y.kolomytseva&#64;gmail.com"
                                >y.kolomytseva&#64;gmail.com</a
                            >
                        </li>
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:+4917000000">+4917000000</a>
                        </li>
                        <li>
                            <i class="bx bx-map"></i>
                            Germany
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
