<div
    class="projects-area ptb-100 dotted-bg d-none"
    [ngClass]="{ 'd-block': router.url === '/index-2' }"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">RECENT PROJECTS</span>
            <h2>We are your one-stop solutions for building brands</h2>
            <p>
                Our team takes pride in delivering innovative and impactful
                projects that help businesses stand out. From creative design to
                strategic execution, we turn ideas into reality, ensuring each
                project is tailored to meet your unique needs and drive your
                success.
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="projects-slider">
            <owl-carousel-o [options]="projectsSlides">
                <ng-template carouselSlide>
                    <div class="single-project-item">
                        <a routerLink="/project-details" class="d-block image">
                            <img
                                src="assets/images/projects/project5.jpg"
                                alt="project-image"
                            />
                        </a>
                        <div class="content">
                            <h4>
                                <a routerLink="/project-details"
                                    >Digital Marketing</a
                                >
                            </h4>
                            <a routerLink="/project-details" class="link-btn"
                                ><i class="flaticon-right-up"></i
                            ></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-project-item">
                        <a routerLink="/project-details" class="d-block image">
                            <img
                                src="assets/images/projects/project6.jpg"
                                alt="project-image"
                            />
                        </a>
                        <div class="content">
                            <h4>
                                <a routerLink="/project-details"
                                    >Product Engineering</a
                                >
                            </h4>
                            <a routerLink="/project-details" class="link-btn"
                                ><i class="flaticon-right-up"></i
                            ></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-project-item">
                        <a routerLink="/project-details" class="d-block image">
                            <img
                                src="assets/images/projects/project7.jpg"
                                alt="project-image"
                            />
                        </a>
                        <div class="content">
                            <h4>
                                <a routerLink="/project-details"
                                    >Company Branding</a
                                >
                            </h4>
                            <a routerLink="/project-details" class="link-btn"
                                ><i class="flaticon-right-up"></i
                            ></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-project-item">
                        <a routerLink="/project-details" class="d-block image">
                            <img
                                src="assets/images/projects/project8.jpg"
                                alt="project-image"
                            />
                        </a>
                        <div class="content">
                            <h4>
                                <a routerLink="/project-details"
                                    >Illustrations</a
                                >
                            </h4>
                            <a routerLink="/project-details" class="link-btn"
                                ><i class="flaticon-right-up"></i
                            ></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-project-item">
                        <a routerLink="/project-details" class="d-block image">
                            <img
                                src="assets/images/projects/project9.jpg"
                                alt="project-image"
                            />
                        </a>
                        <div class="content">
                            <h4>
                                <a routerLink="/project-details"
                                    >Product Engineering</a
                                >
                            </h4>
                            <a routerLink="/project-details" class="link-btn"
                                ><i class="flaticon-right-up"></i
                            ></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
